*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #50D7BE  ;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{

}
header h1{
    float: left;
    padding:  15px 0;
    color: #50d7be;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header  ul li a:hover{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a{
    background-color: #50D7BE;
    color: #fff;
}
.active{
    background-color: #50D7BE;
    color: #fff;
}
header p{
    text-align: center;
}